{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>My Playlists</h2>
    <ul class="list-group">
        {% for playlist in names %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Name: {{ playlist.name }}
            <!-- Form to post the playlist ID -->
            <form action="/recommend" method="POST">
                <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                <button type="submit" class="btn btn-info">Get Recommendations</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Content here -->
{% endblock %}